<h1><%=@event.title%></h1>
<p><%=flash[:message1]%></p>
<p><%=flash[:message3]%></p>
<span><%=link_to "View Attendees", event_rsvps_path(@event), class: "attendeesButton", "data-id": @event.id%></span>
<span><%=attend_link%></span>
<span><%=organizer_edit%></span>


<div class="row">
  <div class="event-details column">
    <h4>Time:</h4>
    <p><%=@event.event_time%></p>

    <h4>Date:</h4>
    <p><%=friendly_date(@event.date)%></p>

    <h4>Type:</h4>
    <p><%=@event.event_type%></p>

    <h4>Location:</h4>
    <p><%=location_from_zip(@event.zip_code) %></p>

    <h4>Distance from you: </h4>
    <p><%=@event.distance_from_user(current_user)%></p>

    <h4>Address:</h4>
    <p><%=@event.address%></p>

    <h4>Skill Level:</h4>
    <p><%=skill_level_string(@event.skill_level) %></p>

    <h4>Current Attendees:</h4>
    <p><%=@event.users.count%></p>

    <h4>Organized by:</h4>
    <p><%=link_to @event.organizer.first_name, user_path(@event.organizer)%></p>
  </div>
  <div class="attendees column">

  </div>
</div>
<%if @event.comments.any?%>
  <h4>Comment(s)</h4>
    <%@event.comments.each do |comment|%>
      <%=render partial: "comments/div_comment", locals: {comment: comment}%>
    <%end%>
<%end%>

<h4>Leave a Comment</h4>
<%=flash[:message2]%>

<%=render "./comments/form", event: @event%>
