<h1><%=@user.first_name%>'s Page</h1>
<%=link_to "Logout", logout_path, method: :post%>
<h4>Email:</h4>
<p><%=@user.email%></p>

<h4>phone:</h4>
<p><%=@user.phone%></p>

<h4>level:</h4>
<p><%=@user.level%></p>

<h4>Organized Events Below</h4>
