<h1><%=@user.first_name%>'s Page</h1>
<%=link_to "Logout", logout_path, method: :post%>
<h4>Email:</h4>
<p><%=@user.email%></p>

<h4>Location:</h4>
<p><%=location_from_zip(@user.zip_code)%></p>

<h4>Phone:</h4>
<p><%=@user.phone%></p>

<h4>Level:</h4>
<p><%=user_skill_level(@user.level)%></p>

<h4>Organized Events Below</h4>
<%@user.organized_events.each do |event|%>
<p><%=link_to event.title, user_event_path(@user.id, event)%></p>
<%end%>
